<settings>
    <assembly name="Gehtsoft.Measurements" xmldoc="..\..\doc.xml" />
    <!--<assembly name="Gehtsoft.EF.Db.SqlDb" skip="true" /> -->

    <namespace name="Gehtsoft.Measurements" group="index" />

    <strip-namespace name="System" />
    <strip-namespace name="Gehtsoft.Measurements" />
</settings>
